body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #002249; /* Couleur bleu foncé */
    color: #ffffff; /* Texte blanc */
    padding: 1em 0;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ffffff; /* Ligne blanche entre les deux sections */
    position: relative;
    padding: 1em;
}

.social-media {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.instagram-logo {
    width: 30px;
    height: 30px;
    background: none;
    transition: filter 0.3s;
}

.instagram-logo:hover {
    filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.header-top h1 {
    margin: 0;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
   margin: 0 2vh;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #00aaff;
}

/* Styles responsives */
@media (max-width: 768px) {
    .header-top {
        flex-direction: column;
        text-align: center;
    }

    .social-media {
        position: static;
        margin-top: 1em;
    }

    .header-bottom {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        gap: 1em;
    }
}

@media (min-width: 769px) {
    .header-top h1 {
        font-size: 2em;
    }

    .instagram-logo {
        width: 30px;
        height: 30px;
    }
}

